workflows/production-data-ingestion-workflow.json
{
  "name": "AI Data Platform - Data Ingestion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "data-ingestion",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "data-ingestion-webhook"
    },
    {
      "parameters": {
        "filePath": "ads_spend.csv",
        "options": {
          "delimiter": ",",
          "headerRow": true,
          "maxRowCount": 0
        }
      },
      "id": "csv-reader",
      "name": "Read CSV File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse CSV content and add metadata\nconst csvContent = $input.first().binary.data;\nconst lines = csvContent.split('\\n');\nconst headers = lines[0].split(',');\nconst records = [];\n\nfor (let i = 1; i < lines.length; i++) {\n  if (lines[i].trim()) {\n    const values = lines[i].split(',');\n    const record = {};\n    headers.forEach((header, index) => {\n      record[header.trim()] = values[index] ? values[index].trim() : '';\n    });\n    \n    // Add metadata\n    record.load_date = new Date().toISOString();\n    record.source_file_name = 'ads_spend.csv';\n    record.batch_id = Date.now().toString();\n    record.processed_at = new Date().toISOString();\n    \n    records.push(record);\n  }\n}\n\nreturn records.map(record => ({ json: record }));"
      },
      "id": "data-transformer",
      "name": "Transform Data & Add Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "http://localhost:8000/ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Webhook-Secret",
              "value": "ai-platform-secret-2024"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "csv_file_path",
              "value": "ads_spend.csv"
            },
            {
              "name": "batch_id",
              "value": "={{ Date.now() }}"
            },
            {
              "name": "record_count",
              "value": "={{ $('Transform Data & Add Metadata').all().length }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "trigger-etl",
      "name": "Trigger ETL Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "success-check",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "message": "Data ingestion completed successfully! Batch ID: {{ $('Transform Data & Add Metadata').first().json.batch_id }}, Records processed: {{ $('Transform Data & Add Metadata').all().length }}"
      },
      "id": "success-notification",
      "name": "Success Notification",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "message": "Data ingestion failed! Status: {{ $json.statusCode }}, Error: {{ $json.error || 'Unknown error' }}"
      },
      "id": "error-notification",
      "name": "Error Notification",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Read CSV File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CSV File": {
      "main": [
        [
          {
            "node": "Transform Data & Add Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Data & Add Metadata": {
      "main": [
        [
          {
            "node": "Trigger ETL Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger ETL Pipeline": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Success Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Error Notification",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}

